localhost:8081
root public/
index index.php
fastcgi / 127.0.0.1:9000 php {
    ext .php
    index index.php
}
rewrite {
        to {path} {path}/ /index.php?uri={path_escaped}&{query}
    }
log stdout
